<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>qnzvra@syhvqflagnk.pbz</string>
	<key>contactName</key>
	<string>Damien Timewell</string>
	<key>description</key>
	<string>Made popular for it's use on &lt;a href="http://railscasts.com/" title="Ruby on Rails Screencasts - RailsCasts"&gt;RailsCasts&lt;/a&gt;.</string>
	<key>name</key>
	<string>idleFingers</string>
	<key>uuid</key>
	<string>986AE4FE-36EB-446E-9E72-C13A1CF1E775</string>
</dict>
</plist>
